<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
<body>
<h1 style="color:blue;">Blog Posts Table</h1>
<table>
    <th style="text-align:left">Title</th>
    <th style="text-align:left" colspan="3">Tools (Edit, Delete or Publish)</th>

  {% for row in blogposts %}
  <tr>
      <td>{{ row['title']}}</td>
      <td><a href="edit/{{ row['id'] }}">Edit</a></td>
      <td><a href="delete/{{ row['id'] }}">Delete</a></td>
      <td><a href="publish/{{ row['id'] }}">Published: {{ row['publish'] }}</a></td>
  </tr>
  {% endfor %}
</table>

<p><b>Instructions</b></p>
<p>Click on <b>Edit</b> next to the post to edit the the blog post.</p>
<p>Click on <b>Delete</b> next to the post to delete the blog post</p>
<p>Click on <b>Published</b> to display "True" if you want to publish the blog post.</p>
<p>Click on <b>Published</b> to display "False" if you want to un-publish the blog post.</p>
<p><a href="/add">Add an entry</a> or <a href="/">return to home page</a></p>
</body>
</html>